php_value memory_limit 32M
php_value upload_max_filesize 41M
php_value post_max_size 69M
php_value error_reporting 0
php_value display_errors 0

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-z0-9]{2})/css/(.*?).css$ ./css.php?version=$1&key=$2 [L,NC,QSA]
RewriteRule ^([a-z0-9]{2})/font/(.*?).(pfa|pfb|pt3|t42|sfd|ttf|bdf|otf|otb|cff|cef|gai|woff|svg|ufo|pf3|ttc|gsf|cid|bin|hqx|dfont|mf|ik|fon|fnt|pcf|pmf|pdb|eot|afm)$ ./font.php?version=$1&key=$2&format=$3 [L,NC,QSA]
